<div class="ability-card col"> 
    <div class="row wrapper">
        <div class="abilityLine row justify-content-center align-self-center">Heal 5</div>
        <div class="abilitySubtitle row justify-content-center align-self-center">Self</div>
        <div class="abilityLine row justify-content-center align-self-center">Move 5</div>
        <div class="abilityLine row justify-content-center align-self-center">Move 5</div>
        <div class="abilityLine row justify-content-center align-self-center">Move 5</div>

    
    </div>
    </div>