.ability-card {
    background-size: 100% 100%; 
    background-repeat: no-repeat;  
    height: 100%;
    width: 100%;
}

.abilityLine {
    font-family: 'Sakkal Majalla';
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 0.08em;
    color: white;
    padding-bottom: 1%;
}

.elementIcon {
}

.abilitySubtitle {
    font-family: 'Sakkal Majalla';
    font-size: 1vw;
    color: white;
    padding-top: 1%;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 3%;
}

.abilitySubtitleStandalone {
    font-family: 'Sakkal Majalla';
    font-size: 1vw;
    color: white;
    
}

.centered {
    text-align: center;
    padding: 1%;
}

