.monsterCard {
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    word-wrap: normal;
    font-size: 20px;
}

.container {
    padding-top: 1%;
    padding-bottom: 1%;
}

.portrait {
 border-radius: 100%;    
}

